// Index
// navbarinfo
.head{
    height: 35px;
    background-color: #2e2d2d;
    p{
        color: rgb(182, 182, 182);
        padding-top: 10px;
        font-size: 13px;
    }
}
// navbarmenu
.nav2{
    background-color: white;
    padding-top: 10px;
    height: 110px;
    font-size: 20px;
    color: black;
    padding-right: 90px;
    @media (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }
    a.menu:after, .dropdown-toggle:after {
        content: none;
        }
    .navbar-brand{
        
        
        padding-left: 180px;
    }
}
// jumbotron
.carousel {
    height: 500px;
    width: 100%;
  }
//why us
.content-why{
    padding-top: 5px;
    
    color: rgb(6, 193, 240);
    h4{
        font-weight: 700;
        padding-bottom: 20px;
    }
}

// section-stats
.section-stats{
    padding-bottom: 30px;
    .stats-detail{
    }
    p{
        margin-top: -20px;
        margin-left: 33px;  
        font-weight: 700;

    }
}
//section-katalog
.section-katalog{
    .stats-katalog{
        margin-right: -20px;
        margin-left: -30px;
        padding-bottom: 50px;
    }
    h5{
        margin-left: 60px;  
        font-weight: 700;
        
    }
}
.card-right{
    background-color: rgb(13, 209, 209);
    margin-left: 50px;
    margin-right: 20PX;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    color: #ffffff;
    h4{
        
    }
}
// rating
.rating{
    p{
        font-size: 20px;
        padding-left: 30px;
    }
    .item{
        padding-left: 40px;
    }
    
}
// footer
.footer{
    height: 65px;
    width: 100%;
    background-color: #2e2d2d;
    p{
        color: rgb(182, 182, 182);
        padding-top: 20px;
        font-size: 13px;
    }
}

// profile-kami
// map
.card-testimoni{
    background-color: rgb(13, 209, 209);
    
}
.section-regist-content{
    height: 810px;
    background: black;
}

.form-isi{
    width: 50%;
    padding-left: 230px;
    padding-bottom: 120px;
    .form-nama{
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 30px;
    }
}

.page-content{
       margin-bottom: 120px;
   
}